{% extends "layout-debug.njk" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "showExamples.njk" import showExamples %}

{% block content %}
  {{ govukBreadcrumbs({
    "items": [
      { text: 'GOV.UK Frontend', href: '/' },
      { text: componentNameHuman }
    ]
  }) }}

  <div class="govuk-o-main-wrapper">
    <h1 class="govuk-heading-xl">{{ componentNameHuman }}</h1>
    {{ showExamples(componentName, componentData) }}
  </div>
{% endblock %}
